.lang-select-form {
  user-select: none;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.lang-select {
  display: flex;
  align-items: center;
}

.lang-select__selected-language-flag {
  margin-right: 5px;
}

.lang-select__dropdown-arrow {
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.lang-select__dropdown {
  position: absolute;
  left: -2px;
  top: 34px;
  border-radius: 2px;
  animation: fadeIn 0.3s ease-in-out;
}

.lang-select__option {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 26px;
  width: 54px;
  padding: 5px 2px;
}

.lang-select__option > p {
  font-size: 1.4rem;
  margin: 0;
}

.rotate-180 {
  transform: rotateX(180deg);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  40% {
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
  }
}
